*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}


body{
    background-color: lightblue;
}


header h1{
    text-align: center;
    font-size: 30px;
}
#dados{
    margin: auto;
    background-color: white;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.318);
    
}

div#dados p{
    padding-top: 20px;
    margin-left: 20px;
}

input{
    max-width: 50px;
}
select{

    margin-left: 20px;

}
footer{
    text-align: center;
}